/* Root variables */

:root {
  --primary-color: #24292e;
  --secondary-color: #ffffff;
  --accent-color: #0366d6;
  --border-color: #e1e4e8;

  --base-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --base-font-size: 16px;
}

/* Alignmnent */

.vertical-center {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
  font-size: 32px;
}

body {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--base-font);
  font-size: var(--base-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.container {
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}

header {
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

main {
  height: 100%;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}



main .container {
  justify-content: center;
}


